
<nav class="navbar navbar-expand-lg navbar-light navbar-lewagon">
  <a class="navbar-brand nav-padding nav-color" id="nav-accueil" href="/"><strong>ACCUEIL</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active nav-padding">
        <a class="nav-link nav-bio" href="/bio">BIO<span class="sr-only">(current)</span></a>
      </li>
       <li class="nav-item dropdown nav-padding">
        <a class="nav-link dropdown-toggle red-square" href="#" id="navbarDropdownMenuLink" role="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          LIVRES
        </a>
        <div class="dropdown-menu white-bcg" aria-labelledby="navbarDropdownMenuLink">

          <% @books = Book.all %>
          <% @books.each do |book| %>
         <a ><%= link_to book.title, book_path(book),class:"dropdown-item"  %></a>
          <% end %>

        </div>
      </li>
      <li class="nav-item nav-padding">
        <a class="nav-link hover " href="/dessin">DESSINS</a>
      </li>
      <li class="nav-item nav-padding">
        <a class="nav-link hover " href="/video">VIDEOS</a>
      </li>
      <li class="nav-item nav-padding">
        <a class="nav-link hover " href="/tweets">ACTU</a>
      </li>

      <li class="nav-item nav-padding">
        <a class="nav-color nav-link" id="nav-contact" href="/home">CONTACT</a>
      </li>

    </ul>
  </div>
</nav>



