
.image {
object-fit: cover
}

.title-show {
  display: flex;
}

.book-details {
	display: flex;
	text-align: center;
	margin-bottom:15px;
}

.title-details {
	color: white;
	margin: 20px;
	justify-content: space-between
}

.flex {
	display:flex;
}

.white-background {
	background:rgba(255,255,255, 0.12);
	margin-left: 40px;
}

.book {
	flex:1;
}

.red {
	color: #c30101;
}

.justify {
	text-align: left;
}

.book-image{
	position: center;
	margin-top: 15px;
}

.white-letters {
	color: white;
}

.opacity-container {
	background:rgba(255,255,255, 0.3);
}

.book-title {
    margin-right: 20px;
}

.tag {
	color: transparent;
	display: flex;
}

.black-background{
	background-color: rgba(0,0,0,0.8);
	color: white;
}

.italique {
	font-style: italic;
}

.link-red {
	text-decoration:none;
	color: white;
}

.link-red:hover {
	text-decoration:none;
	color: #c30101;
}

.flex-child {
	flex: 50%;
}

.extract {
	padding: 20px;
	position: relative;
}

.border-red {
	border: solid #c30101;
}

.white-bcg{
	background:rgba(255,255,255, 1);
}

.center {
	text-align: center;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

.video-container iframe,  
.video-container object,  
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

@media (max-width: 800px) {

  .book-details {

	flex-direction: column;
	text-align: center;
	margin-right: 7%;

    }

    .title-show {

	flex-direction: column;
	text-align: center;
	margin-right: 7%;
    }

    .margin {
    margin-right: 7%;
    }

    .form-test {
    margin-right: 15%;
    margin-right: 15%;
    }

  }



img { max-width: 100%; height: auto; }

html { font-size:100%; }

@media (min-width: 640px) { body {font-size:1rem;} } 
@media (min-width:960px) { body {font-size:1.2rem;} } 
@media (min-width:1100px) { body {font-size:1.5rem;} } 
