<div class="banner-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/duro4nxuo/image/upload/v1571593855/Myriam%20Cohen%20Welgryn/raphael-schaller-GkinCd2enIY-unsplash_zy9h9f.jpg);">
	<%= render 'navbar/navbar' %>

 <div class='book-details'>
    <div class=" book white-background">
      <div class="title-show title-details flex">
          <h2 class='book-title'><strong>L'écriture, toute une histoire </strong></h2>
      </div>
        <div class="title-details justify">
          <h6>Depuis toujours, j’écris. Le plus souvent pour le plaisir d’écrire. Mais aussi et surtout, par nécessité impérieuse: le désir jamais vraiment assouvi de capturer le sens par les mots. Des livres confits et denses qui agissent comme des exutoires vide-tête et libérateurs. </h6>
          <h6>Mon premier roman a été envoyé par la poste à un éditeur par celui qui partage ma vie et n’en pouvait plus de me voir passer des heures à écrire pour moi-même. C’est ainsi que « La petite dernière », a été publié en 1999 en ouverture de la collection Premier Mille d’Arléa, et sélectionné au festival du premier roman de Chambéry. </h6> 
          <h6>Sur la lancée, j’ai ensuite publié en 2001, « Mères ». </h6>
          <br>
          <h6>Après avoir croqué sur un coup de tête le personnage d’Olympe Castor, mon double au féminisme joyeux et épanoui, j’ai reçu la commande d’Harpercollins, d’un essai graphique, un manuel pour aider les femmes en entreprise à briser le plafond de verre. Une cause qui m’est chère et pour laquelle je me suis activement engagée tout au long ma carrière professionnelle. C’est ainsi qu’est né en 2019 « Et tu oseras sortir du cadre ».  Livre que je viens tout juste de traduire en Anglais. </h6>
          <br>
          <h6>Dans mon autre vie, je suis cadre dirigeante chez L’Oréal et membre du Conseil d’administration de Lead, un réseau Européen de promotion des femmes dans les entreprises de Grande Distribution.</h6>

        </div>
    </div> 
    <div class="book">
      <div class="container project-view-container">
        <div>
          <div class="book-image"> <%= image_tag 'dessin-bio.png', heigth: 500, width: 400 %> </div>
        </div>
      </div>
    </div>
  </div>

</div>






