

<div class="banner-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/duro4nxuo/image/upload/v1571593855/Myriam%20Cohen%20Welgryn/raphael-schaller-GkinCd2enIY-unsplash_zy9h9f.jpg);">
	<%= render 'navbar/navbar' %>
  <div class="container title-show">
  	<div class= 'flex-child'>
		<h1>Livres de Myriam Cohen-Welgryn </h1>
    	<p> Essais, romans et dessins</p>
   		<br>
   		<br>
    	<h3 style='color:white'>Bienvenue sur ce site qui range dans de petites cases les quelques écrits ou dessins que j’ai commis </h3>
    	<h3 style='color:white'>et qui les rend plus accessibles...</h3>
    </div>
    <div class="project-view-charity flex-child" id='image-homepage'>
   		<div class="book-image"> <%= image_tag 'Image_maman.jpg', height: 600, width: 450 %> </div>
  	</div>
  </div>

</div>
