<div class="banner-two" style="background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('https://res.cloudinary.com/duro4nxuo/image/upload/v1571593855/Myriam%20Cohen%20Welgryn/raphael-schaller-GkinCd2enIY-unsplash_zy9h9f.jpg'); ">
<%= render 'navbar/navbar' %>
	<div class="centered container">
	  <div class="tweets">
		<a class="twitter-timeline" data-width="600" data-height="500"
      href="https://twitter.com/MyriamCWAuteure?ref_src=twsrc%5Etfw">
Tweets by MyriamCWAuteure</a>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>

