<div class="banner-two" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/duro4nxuo/image/upload/v1571593855/Myriam%20Cohen%20Welgryn/raphael-schaller-GkinCd2enIY-unsplash_zy9h9f.jpg);">
	<%= render 'navbar/navbar' %>
	<div class= 'container center'>
		<div >
				

			</div>
			<div class="video-container">
				<iframe width="600" height="350" src="https://www.youtube.com/embed/stjbbnyDg4E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
			<h4>Eve, programme de leadership au féminin (français) </h4>
		<br>
		<br>
		<br>
		<div class="video-container">
				<iframe width="600" height="350" src="https://www.youtube.com/embed/YJxQIiusObM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>	
			<h4>Eve, programme de leadership au féminin (anglais) </h4>
		</div>
	</div>
</div>



