.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255,255,255,0.5);
  letter-spacing: 0.3em;
  font-size: 14px;
  font-family: "europa", sans-serif;
  font-weight: 700;
      position: absolute;
    top: 23px;
    width: 100%;
    padding: 0 0;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.hover:hover {
  color: white;
  border-color: #c30101;
}

.red-square{
 
}

.nav-padding {
padding: 10px;
margin-left: 1rem;

}


#nav-accueil{
  margin-left: 4rem;
  color: #c30101;
  font-size: 25px;
}

#nav-bio {
  color: white;
}

#nav-accueil:hover{
  margin-left: 4rem;
  color: white;
}

.nav-color {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #c30101;
}

#nav-contact{
  color: white;
  margin-right: 4rem;
}

#nav-contact:hover{
  color: #c30101;
  margin-right: 4rem;
}



